body {
    font-family: Arial, sans-serif;
}

header {
    background-size: cover;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 100px;
}

nav ul {
    color: white;
    list-style: none;
    background-color: #000000;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

section {
    margin: 20px;
    padding: 20px;
}

/* Estilos específicos para proyectos */
.proyecto {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
}

.proyecto img {
    max-width: 100%;
}

footer {
    background-color: #000000;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    padding: 25px;
}

/* Estilos para enlaces en el footer */
footer a {
    background-color: #000000;
    color: white;
    text-decoration: none;
}

.navbar {
    background-color: black;
}

.navbar-toggler-icon {
    color: white !important;
}


body {
    background-color: #000;
    color: #fff;
}

.social-icons {
    text-align: center;
}
#proyectos{
background-color: black;
margin-top: 0%;
margin-bottom: 0%; 
padding-top: 0%;
padding-bottom: 0%; 
}
.project-container {
    background-size: cover;
    background-position: center;
    padding-top: 100%; /* 1:1 aspect ratio (cuadrada) */
}

.project-container h3 {
    margin-top: 20px; /* Ajusta el espacio entre el título y la imagen */
}

.project-container a {
    display: block;
    margin-top: 20px; /* Ajusta el espacio entre el botón y el título */
}

.container {
    margin-top: 100px;
    margin-bottom: 40px;
}

.contacto {
    margin-top: 0%;
margin-bottom: 0%; 
padding-top: 0%;
padding-bottom: 0%; 
}